/*********
 * Style *
 *********/
$style_params: none, hidden, dotted, dashed, solid, double, groove, ridge, inset,
  outset;

@each $style in $style_params {
  .border-#{$style} {
    border-style: $style;
  }
}

/*********
 * Width *
 *********/
$width_params: thin, medium, thick;

@each $width in $width_params {
  .border-#{$width} {
    border-width: $width;
  }
}

/********
 * Misc *
 ********/

.border-invis {
  border-color: transparent;
}

.border-circle {
  border-radius: 50%;
}
