/**********
 * Margin *
 **********/

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin m($len) {
  .m-#{$len} {
    margin: #{$len};
  }

  .my-#{$len} {
    margin-top: #{$len};
    margin-bottom: #{$len};
  }

  .mx-#{$len} {
    margin-left: #{$len};
    margin-right: #{$len};
  }

  .mt-#{$len} {
    margin-top: #{$len};
  }

  .mb-#{$len} {
    margin-bottom: #{$len};
  }

  .ml-#{$len} {
    margin-left: #{$len};
  }

  .mr-#{$len} {
    margin-right: #{$len};
  }
}

@include m(0);

/***********
 * Padding *
 ***********/

@mixin p($len) {
  .p-#{$len} {
    padding: #{$len};
  }

  .py-#{$len} {
    padding-top: #{$len};
    padding-bottom: #{$len};
  }

  .px-#{$len} {
    padding-left: #{$len};
    padding-right: #{$len};
  }

  .pt-#{$len} {
    padding-top: #{$len};
  }

  .pb-#{$len} {
    padding-bottom: #{$len};
  }

  .pl-#{$len} {
    padding-left: #{$len};
  }

  .pr-#{$len} {
    padding-right: #{$len};
  }
}

@include p(0);

/********
 * Both *
 ********/

@mixin mp($len) {
  .mp-#{$len} {
    margin: #{$len};
    padding: #{$len};
  }
}

@include mp(0);
