@import "./lib/func";

@mixin box_sizing($type, $len) {
  .#{fst_char($type)}-#{$len} {
    #{$type}: #{$len} !important;
  }

  .#{fst_char($type)}y-#{$len} {
    #{$type}-top: #{$len} !important;
    #{$type}-bottom: #{$len} !important;
  }

  .#{fst_char($type)}x-#{$len} {
    #{$type}-left: #{$len} !important;
    #{$type}-right: #{$len} !important;
  }

  .#{fst_char($type)}t-#{$len} {
    #{$type}-top: #{$len} !important;
  }

  .#{fst_char($type)}b-#{$len} {
    #{$type}-bottom: #{$len} !important;
  }

  .#{fst_char($type)}l-#{$len} {
    #{$type}-left: #{$len} !important;
  }

  .#{fst_char($type)}r-#{$len} {
    #{$type}-right: #{$len} !important;
  }
}

/**********
 * Margin *
 **********/

@mixin m($len) {
  @include box_sizing(margin, $len);
}

@include m(0);

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/***********
 * Padding *
 ***********/

@mixin p($len) {
  @include box_sizing(padding, $len);
}

@include p(0);

/********
 * Both *
 ********/

@mixin mp($len) {
  .mp-#{$len} {
    margin: #{$len} !important;
    padding: #{$len} !important;
  }
}

@include mp(0);
