@mixin d($display) {
  .d-#{$display} {
    display: $display;
  }
}

/***********
 * Display *
 ***********/

@include d(none);
@include d(inline);
@include d(block);
@include d(inline-block);

/********
 * Flex *
 ********/

@include d(flex);

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

/********
 * Grid *
 ********/

@include d(grid);

.grid-row {
  grid-auto-flow: row;
}

.grid-col {
  grid-auto-flow: column;
}
