@import "./lib/vars";

/***********
 * Display *
 ***********/
@mixin d($display) {
  .d-#{$display} {
    display: $display;
  }
}

$display_params: none, inline, block, inline-block, table, flex, grid;

@each $display in $display_params {
  @include d($display);
}

/********
 * Grid *
 ********/

.grid-row {
  grid-auto-flow: row;
}

.grid-col {
  grid-auto-flow: column;
}

@for $len from 0 through $len_increments {
  .row-gap-#{$len} {
    row-gap: $len * $base_len;
  }
}

@for $len from 0 through $len_increments {
  .col-gap-#{$len} {
    column-gap: $len * $base_len;
  }
}

/********
 * Flex *
 ********/

@include d(flex);

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

$wrap_params: nowrap, wrap, wrap-reverse;
@each $wrap in $wrap_params {
  .flex-#{$wrap} {
    flex-wrap: $wrap;
  }
}

@for $i from 0 through 5 {
  .flex-shrink-#{$i} {
    flex-shrink: $i;
  }
  .flex-grow-#{$i} {
    flex-grow: $i;
  }
}
