/********
 * Auto *
 ********/

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

/***********
 * Percent *
 ***********/

@mixin w($len) {
  .w-#{$len} {
    width: $len * 1%;
  }
}

@include w(100);
@include w(75);
@include w(50);
@include w(25);

@mixin h($len) {
  .h-#{$len} {
    height: $len * 1%;
  }
}

@include h(100);
@include h(75);
@include h(50);
@include h(25);

/***************
 * Max Percent *
 ***************/

@mixin mw($len) {
  .mw-#{$len} {
    max-width: $len * 1%;
  }
}

@include mw(100);
@include mw(75);
@include mw(50);
@include mw(25);

@mixin mh($len) {
  .mh-#{$len} {
    max-height: $len * 1%;
  }
}

@include mh(100);
@include mh(75);
@include mh(50);
@include mh(25);

/*************
 * View Port *
 *************/

@mixin vw($len) {
  .vw-#{$len} {
    width: $len * 1vw;
  }
}

@include vw(100);
@include vw(75);
@include vw(50);
@include vw(25);

@mixin vh($len) {
  .vh-#{$len} {
    height: $len * 1vh;
  }
}

@include vh(100);
@include vh(75);
@include vh(50);
@include vh(25);
