@import "./lib/func";

/*****************
 * Justify Items *
 *****************/
@mixin ji($place) {
  .ji-#{$place} {
    justify-items: cad($place);
  }
}

@include ji(start);
@include ji(centre);
@include ji(end);

/*******************
 * Justify Content *
 *******************/

@mixin jc($place) {
  .jc-#{$place} {
    justify-content: cad($place);
  }
}

@include jc(start);
@include jc(centre);
@include jc(end);

/****************
 * Justify Self *
 ****************/

@mixin js($place) {
  .js-#{$place} {
    justify-self: cad($place);
  }
}

@include js(start);
@include js(centre);
@include js(end);

/***************
 * Align Items *
 ***************/

@mixin ai($place) {
  .ai-#{$place} {
    align-items: cad($place);
  }
}

@include ai(start);
@include ai(centre);
@include ai(end);

/*****************
 * Align Content *
 *****************/

@mixin ac($place) {
  .ac-#{$place} {
    align-content: cad($place);
  }
}

@include ac(start);
@include ac(centre);
@include ac(end);

/**************
 * Align Self *
 **************/

@mixin as($place) {
  .as-#{$place} {
    align-self: cad($place);
  }
}

@include as(start);
@include as(centre);
@include as(end);

/*********
 * Float *
 *********/

@mixin flo($at) {
  .float-#{$at} {
    float: $at;
  }
}

@include flo(none);
@include flo(left);
@include flo(right);
