@import "./lib/func";

$item_params: stretch, start, centre, end;
$content_params: stretch, start, centre, end, baseline, space-between,
  space-around, space-evenly;

/*****************
 * Justify Items *
 *****************/

@each $place in $item_params {
  .ji-#{$place} {
    justify-items: cad($place);
  }
}

/****************
 * Justify Self *
 ****************/

@each $place in $item_params {
  .js-#{$place} {
    justify-self: cad($place);
  }
}

/***************
 * Align Items *
 ***************/

@each $place in $item_params {
  .ai-#{$place} {
    align-items: cad($place);
  }
}

/**************
 * Align Self *
 **************/

@each $place in $item_params {
  .as-#{$place} {
    align-self: cad($place);
  }
}

/*******************
 * Justify Content *
 *******************/

@each $place in $content_params {
  .jc-#{$place} {
    justify-content: cad($place);
  }
}

/*****************
 * Align Content *
 *****************/

@each $place in $content_params {
  .ac-#{$place} {
    align-content: cad($place);
  }
}

/*********
 * Float *
 *********/

@mixin flo($at) {
  .float-#{$at} {
    float: $at;
  }
}

@include flo(none);
@include flo(left);
@include flo(right);
