/*****************
 * Justify Items *
 *****************/

.ji-start {
  justify-items: start;
}

.ji-centre {
  justify-items: center;
}

.ji-end {
  justify-items: end;
}

/*******************
 * Justify Content *
 *******************/

.jc-start {
  justify-content: start;
}

.jc-centre {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

/****************
 * Justify Self *
 ****************/

.js-start {
  justify-self: start;
}

.js-centre {
  justify-self: center;
}

.js-end {
  justify-self: end;
}

/***************
 * Align Items *
 ***************/

.ai-start {
  align-items: start;
}

.ai-centre {
  align-items: center;
}

.ai-end {
  align-items: end;
}

/*****************
 * Align Content *
 *****************/

.ac-start {
  align-content: start;
}

.ac-centre {
  align-content: center;
}

.ac-end {
  align-content: end;
}

/**************
 * Align Self *
 **************/

.as-start {
  align-self: start;
}

.as-centre {
  align-self: center;
}

.as-end {
  align-self: end;
}
