/*************
 * Transform *
 *************/

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*********
 * Align *
 *********/

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-centre {
  text-align: center;
}

.text-right {
  text-align: right;
}

/********
 * Wrap *
 ********/

.text-wrap {
  white-space: normal;
}

.text-nowrap {
  white-space: nowrap;
}
