@import "./lib/func";

/*************
 * Transform *
 *************/

$transform_params: none, capitalize, uppercase, lowercase, full-width;

@each $trans in $transform_params {
  .text-#{$trans} {
    text-transform: $trans;
  }
}

/*********
 * Align *
 *********/

$align_params: left, right, centre, justify, justify-all, start, end,
  match-parent;

@each $align in $align_params {
  .text-#{$align} {
    text-align: cad($align);
  }
}

/********
 * Wrap *
 ********/

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-wrap {
  white-space: normal;
}

.text-nowrap {
  white-space: nowrap;
}
