/*************
 * Transform *
 *************/

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*********
 * Align *
 *********/

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-centre {
  text-align: center;
}

.text-right {
  text-align: right;
}
